.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;            
}

:host {
  display: block;
  width: 80%;                 /* 80% de la largeur du parent */
  margin: 1rem auto 0 auto;   /* centré horizontalement + espace au dessus */
  background-color: #ececec;  /* gris clair */
  padding: 1rem 2rem;         /* espace intérieur */
  border-radius: 12px;        /* coins arrondis */
  box-shadow: 0 2px 6px rgba(0,0,0,0.15); /* léger effet de profondeur */
  text-align: start;         /* centrer le texte à l’intérieur */
  font-family: 'Montserrat', sans-serif; /* appliquer la police Montserrat */
}